<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbJ25RMWYDCUCHhjqufZuwQ5m7Yz0Yov0</string>
	<key>GCM_SENDER_ID</key>
	<string>271733454705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task3</string>
	<key>PROJECT_ID</key>
	<string>task-3-2b202</string>
	<key>STORAGE_BUCKET</key>
	<string>task-3-2b202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271733454705:ios:a22f7d81e120530137a8d0</string>
</dict>
</plist>